.detailCountry {
  margin: 0;
  padding: 25px;
}

.btnBack {
  height: 35px;
  width: 30%;
  max-width: 150px;
  background-color: var(--dark-blue);
  margin:0 0 45px 0;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-detail-page);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.arrow {
  margin-right: 10px;
}

.flag__detail {
  height: 50%;
  width: 100%;
  object-fit: fill;
  display: block;
}

.negrita {
  font-weight: 700;
}

.extraData {
  margin-top: 40px;
}

.name__detail {
  margin: 30px 0 10px 0;
  font-weight: 700;
  font-size: var(--font-size-detail-page);
}

.nativeName__detail,
.population__detail,
.region__detail,
.subRegion__detail,
.capital__detail,
.domain__detail,
.currencies__detail,
.languages__detail {
  margin-bottom: 10px;
  font-size: var(--font-size-homepage-items);
}

.border__countries {
  font-size: var( --font-size-detail-page);
}

.border__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.border {
  font-size: var(--font-size-detail-page);
  height: 30px;
  padding: 3px 14px;
  margin: 0 20px 20px 0;
  background-color: var(--dark-blue);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (min-width: 750px) {
  .card__detail {
    display: flex;
  }
  .name__detail {
    font-size: 20px;
    margin: 10px 0;
  }
  .data__detail {
    padding: 0 0 0 50px;
    width: 70%;
  }
  .flag__detail {
    width: 30%;
  }
  .border__containermain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .border__countries {
    margin-right: 15px;
  }
  .data__container {
    display: flex;
    justify-content: space-between;
  }
  .extraData {
    margin: 0 auto;
  }
}