.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 15px;
  height: 4rem;
  background-color: var(--dark-dark-blue);
  color: var(--white);
  font-size: var(--font-size-homepage-items);
}

.header__right {
  display: flex;
  align-items: center;

}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor:pointer;
}

