* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-dark-blue:hsl(209, 23%, 22%);
  --dark-very-dark-blue:hsl(207, 26%, 17%);
  --light-very-dark-blue: hsl(200, 15%, 8%);
  --light-dark-gray: hsl(0, 0%, 52%);
  --light-very-light-gray:hsl(0, 0%, 98%);
  --white:hsl(0, 0%, 100%);
}

.App {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

.color-white {
  color: var(--white);
}

.color-dark {
  color: var(--dark-very-dark-blue);
}


.background-dark {
  background-color: var(--dark-dark-blue);
}

.background-very-dark {
  background-color: var(--dark-very-dark-blue);
}

.background-light {
  background-color: var(--white);
}

.background-very-gray {
  background-color: var(--light-very-light-gray);
}